@using static BlazorTemplatedComponents.Shared.Dialog;
@page "/"
@using System.Diagnostics;

<PageTitle>Basic Dialog</PageTitle>

<Dialog Title="Are you sure?" Buttons="@Buttons">
    <Body>Do you really want to delete this user?</Body>
</Dialog>

@code {
    public IEnumerable<DialogButton> Buttons { get; set; } = new List<DialogButton>{
        new DialogButton("Delete", () =>
        {
            Debug.WriteLine("Delete");
        }),
        new DialogButton("Cancel", () =>
        {
            Debug.WriteLine("Cancel");
        })
    };
}